<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Search</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->



    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}" >
</head>

<body>
<div class="container-fluid">
    <div class="search-form z-depth-1" style="background-color: royalblue; padding-bottom: 40px;">
        <div>
            <h1 class="white-text" style="margin-top: 15px; display: inline-block; padding-left: 10px";>Pharmapedia</h1>
        <form class="form-inline" style="display: inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form>
    </div>
</div>
</div>
<h1 align="center">List of Banned Drug Combination </h1><br><br>
    <div class="container" style="margin-top: 80px;">
        <ul>
	<li>
		fixed dose combination of Aceclofenac + Paracetamol + Rabeprazole</li>
	<li>
		fixed dose combination of Nimesulide + Diclofenac</li>
	<li>
		fixed dose combination of Nimesulide + Cetirizine + Caffeine</li>
	<li>
		fixed dose combination of Nimesulide + Tizanidine</li>
	<li>
		fixed dose combination of Paracetamol + Cetirizine + Caffeine</li>
	<li>
		fixed dose combination of Diclofenac + Tramadol + Chlorzoxazone</li>
	<li>
		fixed dose combination of Dicyclomine + Paracetamol + Domperidone</li>
	<li>
		fixed dose combination of Nimesulide + Paracetamol dispersible tablets</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Caffeine</li>
	<li>
		fixed dose combination of Diclofenac + Tramadol + Paracetamol</li>
	<li>
		fixed dose combination of Diclofenac + Paracetamol + Chlorzoxazone + Famotidine</li>
	<li>
		fixed dose combination of Naproxen + Paracetamol</li>
	<li>
		fixed dose combination of Nimesulide + Serratiopeptidase</li>
	<li>
		fixed dose combination of Paracetamol + Diclofenac + Famotidine</li>
	<li>
		fixed dose combination of Nimesulide + Pitofenone + Fenpiverinium + Benzyl Alcohol</li>
	<li>
		fixed dose combination of Omeprazole + Paracetamol + Diclofenac</li>
	<li>
		fixed dose combination of Nimesulide + Paracetamol injection</li>
	<li>
		fixed dose combination of Tamsulosin + Diclofenac</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Chlorpheniramine + Dextromethorphan + Caffeine</li>
	<li>
		fixed dose combination of Diclofenac + Zinc Carnosine</li>
	<li>
		fixed dose combination of Diclofenac + Paracetamol + Chlorpheniramine Maleate + Magnesium Trisillicate</li>
	<li>
		fixed dose combination of Paracetamol + Pseudoephedrine + Cetrizine</li>
	<li>
		fixed dose combination of Phenylbutazone + Sodium Salicylate</li>
	<li>
		fixed dose combination of Lornoxicam + Paracetamol + Trypsin</li>
	<li>
		fixed dose combination of Paracetamol + Mefenamic Acid + Ranitidine + Dicyclomine</li>
	<li>
		fixed dose combination of Nimesulide + Dicyclomine</li>
	<li>
		fixed dose combination of Heparin + Diclofenac</li>
	<li>
		fixed dose combination of Glucosamine + Methyl Sulfonyl Methane + Vitamin D3 + Manganese + Boron + Copper + Zinc</li>
	<li>
		fixed dose combination of Paracetamol + Tapentadol</li>
	<li>
		fixed dose combination of Tranexamic Acid + Proanthocyanidin</li>
	<li>
		fixed dose combination of Benzoxonium Chloride + Lidocaine</li>
	<li>
		fixed dose combination of Lornoxicam + Paracetamol + Tramadol</li>
	<li>
		fixed dose combination of Lornoxicam + Paracetamol + Serratiopeptidase</li>
	<li>
		fixed dose combination of Diclofenac + Paracetamol + Magnesium Trisilicate</li>
	<li>
		fixed dose combination of Paracetamol + Domperidone + Caffeine</li>
	<li>
		fixed dose combination of Ammonium Chloride + Sodium Citrate + Chlorpheniramine Maleate + Menthol</li>
	<li>
		fixed dose combination of Paracetamol + Prochlorperazine Maleate</li>
	<li>
		Combikit of 3 tablets of Serratiopeptidase (enteric coated 20000 units) + Diclofenac Potassium &amp; 2 tablets of Doxycycline</li>
	<li>
		fixed dose combination of Nimesulide + Paracetamol Suspension</li>
	<li>
		fixed dose combination of Aceclofenac + Paracetamol + Famotidine</li>
	<li>
		fixed dose combination of Aceclofenac + Zinc Carnosine</li>
	<li>
		fixed dose combination of Paracetamol + Disodium Hydrogen Citrate + Caffeine</li>
	<li>
		fixed dose combination of Paracetamol + DL Methionine</li>
	<li>
		fixed dose combination of Disodium Hydrogen Citrate + Paracetamol</li>
	<li>
		fixed dose combination of Paracetamol + Caffeine + Codeine</li>
	<li>
		fixed dose combination of Aceclofenac (SR) + Paracetamol</li>
	<li>
		fixed dose combination of Diclofenac + Paracetamol injection</li>
	<li>
		fixed dose combination of Azithromycin + Cefixime</li>
	<li>
		fixed dose combination of Amoxicillin + Dicloxacillin</li>
	<li>
		fixed dose combination of Amoxicillin 250 mg + Potassium Clavulanate Diluted 62.5 mg</li>
	<li>
		fixed dose combination of Azithromycin + Levofloxacin</li>
	<li>
		fixed dose combination of Cefixime + Linezolid</li>
	<li>
		fixed dose combination of Amoxicillin + Cefixime + Potassium Clavulanic Acid</li>
	<li>
		fixed dose combination of Ofloxacin + Nitazoxanide</li>
	<li>
		fixed dose combination of Cefpodoxime Proxetil + Levofloxacin</li>
	<li>
		Combikit of Azithromycin, Secnidazole and Fluconazole</li>
	<li>
		fixed dose combination of Levofloxacin + Ornidazole + Alpha Tocopherol Acetate</li>
	<li>
		fixed dose combination of Nimorazole + Ofloxacin</li>
	<li>
		fixed dose combination of Azithromycin + Ofloxacin</li>
	<li>
		fixed dose combination of Amoxycillin + Tinidazole</li>
	<li>
		fixed dose combination of Doxycycline + Serratiopeptidase</li>
	<li>
		fixed dose combination of Cefixime + Levofloxacin</li>
	<li>
		fixed dose combination of Ofloxacin + Metronidazole + Zinc Acetate</li>
	<li>
		fixed dose combination of Diphenoxylate + Atropine + Furazolidone</li>
	<li>
		Combikit of Fluconazole Tablet, Azithromycin Tablet and Ornidazole Tablets</li>
	<li>
		fixed dose combination of Ciprofloxacin + Phenazopyridine</li>
	<li>
		fixed dose combination of Amoxycillin + Dicloxacillin + Serratiopeptidase</li>
	<li>
		Combikit of Fluconazole Tablet, Azithromycin Tablet and Ornidazole Tablets</li>
	<li>
		fixed dose combination of Ciprofloxacin + Phenazopyridine</li>
	<li>
		fixed dose combination of Amoxycillin + Dicloxacillin + Serratiopeptidase</li>
	<li>
		fixed dose combination of Azithromycin + Cefpodoxime</li>
	<li>
		fixed dose combination of Lignocaine + Clotrimazole + Ofloxacin + Beclomethasone</li>
	<li>
		fixed dose combination of Cefuroxime + Linezolid</li>
	<li>
		fixed dose combination of Ofloxacin + Ornidazole + Zinc Bisglycinate</li>
	<li>
		fixed dose combination of Metronidazole + Norfloxacin</li>
	<li>
		fixed dose combination of Amoxicillin + Bromhexine</li>
	<li>
		fixed dose combination of Ciprofloxacin + Fluticasone + Clotrimazole + Neomycin</li>
	<li>
		fixed dose combination of Metronidazole + Tetracycline</li>
	<li>
		fixed dose combination of Cephalexin + Neomycin + Prednisolone</li>
	<li>
		fixed dose combination of Azithromycin + Ambroxol</li>
	<li>
		fixed dose combination of Cilnidipine + Metoprolol Succinate + Metoprolol Tartrate</li>
	<li>
		fixed dose combination of L-Arginine + Sildenafil</li>
	<li>
		fixed dose combination of Atorvastatin + Vitamin D3 + Folic Acid + Vitamin B12 + Pyridoxine</li>
	<li>
		fixed dose combination of Metformin + Atorvastatin</li>
	<li>
		fixed dose combination of Clindamycin + Telmisartan</li>
	<li>
		fixed dose combination of Olmesartan + Hydrochlorothiazide + Chlorthalidone</li>
	<li>
		fixed dose combination of L-5-Methyltetrahydrofolate Calcium + Escitalopram i</li>
	<li>
		fixed dose combination of Pholcodine + Promethazine</li>
	<li>
		fixed dose combination of Paracetamol + Promethazine</li>
	<li>
		fixed dose combination of Betahistine + Ginkgo Biloba Extract + Vinpocetine + Piracetam</li>
	<li>
		fixed dose combination of Cetirizine + Diethyl Carbamazine</li>
	<li>
		fixed dose combination of Doxylamine + Pyridoxine + Mefenamic Acid + Paracetamol</li>
	<li>
		fixed dose combination of Drotaverine + Clidinium + Chlordiazepoxide</li>
	<li>
		fixed dose combination of Imipramine + Diazepam</li>
	<li>
		fixed dose combination of Flupentixol + Escitalopram</li>
	<li>
		fixed dose combination of Paracetamol + Prochloperazine</li>
	<li>
		fixed dose combination of Gabapentin + Mecobalamin + Pyridoxine + Thiamine</li>
	<li>
		fixed dose combination of Imipramine + Chlordiazepoxide + Trifluoperazine + Trihexyphenidyl</li>
	<li>
		fixed dose combination of Chlorpromazine + Trihexyphenidyl</li>
	<li>
		fixed dose combination of Ursodeoxycholic Acid + Silymarin</li>
	<li>
		fixed dose combination of Metformin 1000/1000/500/500mg + Pioglitazone 7.5/7.5/7.5/7.5mg + Glimepiride1/2/1/2mg</li>
	<li>
		fixed dose combination of Gliclazide 80 mg + Metformin 325 mg</li>
	<li>
		fixed dose combination of Voglibose+ Metformin + Chromium Picolinate</li>
	<li>
		fixed dose combination of Pioglitazone 7.5/7.5mg + Metformin 500/1000mg</li>
	<li>
		fixed dose combination of Glimepiride 1mg/2mg/3mg + Pioglitazone 15mg/15mg/15mg + Metformin 1000mg/</li>
	<li>
		1000mg/1000mg</li>
	<li>
		fixed dose combination of Glimepiride 1mg/2mg+ Pioglitazone 15mg/15mg + Metformin 850mg/850mg</li>
	<li>
		fixed dose combination of Metformin 850mg + Pioglitazone 7.5 mg + Glimepiride 2mg</li>
	<li>
		fixed dose combination of Metformin 850mg + Pioglitazone 7.5 mg + Glimepiride 1mg</li>
	<li>
		fixed dose combination of Metformin 500mg/500mg+Gliclazide SR 30mg/60mg + Pioglitazone 7.5mg/7.5mg</li>
	<li>
		fixed dose combination of Voglibose + Pioglitazone + Metformin</li>
	<li>
		fixed dose combination of Metformin + Bromocriptine</li>
	<li>
		fixed dose combination of Metformin + Glimepiride + Methylcobalamin</li>
	<li>
		fixed dose combination of Pioglitazone 30 mg + Metformin 500 mg</li>
	<li>
		fixed dose combination of Glimepiride + Pioglitazone + Metformin</li>
	<li>
		fixed dose combination of Glipizide 2.5mg + Metformin 400 mg</li>
	<li>
		fixed dose combination of Pioglitazone 15mg + Metformin 850 mg</li>
	<li>
		fixed dose combination of Metformin ER + Gliclazide MR + Voglibose</li>
	<li>
		fixed dose combination of Chromium Polynicotinate + Metformin</li>
	<li>
		fixed dose combination of Metformin + Gliclazide + Piogllitazone + Chromium Polynicotinate</li>
	<li>
		fixed dose combination of Metformin + Gliclazide + Chromium Polynicotinate</li>
	<li>
		fixed dose combination of Glibenclamide + Metformin (SR)+ Pioglitazone</li>
	<li>
		fixed dose combination of Metformin (Sustainded Release) 500mg + Pioglitazone 15 mg + Glimepiride 3mg</li>
	<li>
		fixed dose combination of Metformin (SR) 500mg + Pioglitazone 5mg</li>
	<li>
		fixed dose combination of Chloramphenicol + Beclomethasone + Clomitrimazole + Lignocaine</li>
	<li>
		fixed dose combination of Clotrimazole + Ofloxaxin + Lignocaine + Glycerine and Propylene Glycol</li>
	<li>
		fixed dose combination of Chloramphennicol + Lignocaine + Betamethasone + Clotrimazole + Ofloxacin + Antipyrine</li>
	<li>
		fixed dose combination of Ofloxacin + Clotrimazole + Betamethasone + Lignocaine</li>
	<li>
		fixed dose combination of Gentamicin Sulphate + Clotrimazole + Betamethasone + Lignocaine</li>
	<li>
		fixed dose combination of Clotrimazole + Beclomethasone + Ofloxacin + Lignocaine</li>
	<li>
		fixed dose combination of Becloemthasone + Clotrimazole + Chloramphenicol + Gentamycin + Lignocaine Ear drops</li>
	<li>
		fixed dose combination of Flunarizine + Paracetamole + Domperidone</li>
	<li>
		fixed dose combination of Rabeprazole + Zinc Carnosine</li>
	<li>
		fixed dose combination of Magaldrate + Famotidine + Simethicone</li>
	<li>
		fixed dose combination of Cyproheptadine + Thiamine</li>
	<li>
		fixed dose combination of Magaldrate + Ranitidine + Pancreatin + Domperidone</li>
	<li>
		fixed dose combination of Ranitidine + Magaldrate + Simethicone</li>
	<li>
		fixed dose combination of Magaldrate + Papain + Fungul Diastase + Simethicone</li>
	<li>
		fixed dose combination of Rabeprazole + Zinc + Domperidone</li>
	<li>
		fixed dose combination of Famotidine + Oxytacaine + Magaldrate</li>
	<li>
		fixed dose combination of Ranitidine + Domperidone + Simethicone</li>
	<li>
		fixed dose combination of Alginic Acid + Sodium Bicarbonate + Dried Aluminium Hydroxide + Magnesium Hydroxide</li>
	<li>
		fixed dose combination of Clidinium + Paracetamol + Dicyclomine + Activated Dimethicone</li>
	<li>
		fixed dose combination of Furazolidone + Metronidazole + Loperamide</li>
	<li>
		fixed dose combination of Rabeprazole + Diclofenac + Paracetamol</li>
	<li>
		fixed dose combination of Ranitidine + Magaldrate</li>
	<li>
		fixed dose combination of Norfloxacin + Metronidazole + Zinc Acetate</li>
	<li>
		fixed dose combination of Zinc Carnosine + Oxetacaine</li>
	<li>
		fixed dose combination of Oxetacaine + Magaldrate + Famotidine</li>
	<li>
		fixed dose combination of Pantoprazole (as Enteric Coated Tablet) + Zinc Carnosine (as Film Coated Tablets)</li>
	<li>
		fixed dose combination of Zinc Carnosine + Magnesium Hydroxide + Dried Aluminium Hydroxide + Simethicone</li>
	<li>
		fixed dose combination of Zinc Carnosine + Sucralfate</li>
	<li>
		fixed dose combination of Mebeverine &amp; Inner HPMC capsule (Streptococcus Faecalis + Clostridium butyricum + Bacillus mesentricus + Lactic Acid Bacillus)</li>
	<li>
		fixed dose combination of Clindamycin + Clotrimazole + Lactic Acid Bacillus</li>
	<li>
		fixed dose combination of Sildenafil + Estradiol Valerate</li>
	<li>
		fixed dose combination of Clomifene Citrate + Ubidecarenone + Zinc + Folic Acid + Methylcobalamin + Pyridoxine + Lycopene + Selenium + Levocarnitine Tartrate + L-Arginine</li>
	<li>
		fixed dose combination of Thyroxine + Pyridoxine + Folic Acid</li>
	<li>
		fixed dose combination of Gentamycin + Dexamethasone + Chloramphenicol + Tobramycin + Ofloxacin</li>
	<li>
		fixed dose combination of Dextromethorphan + Levocetirizine + Phenylephrine + Zinc</li>
	<li>
		fixed dose combination of Nimesulide + Loratadine + Phenylephrine + Ambroxol</li>
	<li>
		fixed dose combination of Bromhexine + Phenylephrine + Chlorepheniramine Maleate</li>
	<li>
		fixed dose combination of Dextromethorphan + Bromhexine + Guaiphenesin</li>
	<li>
		fixed dose combination of Paracetamol + Loratadine + Phenylephrine + Dextromethorphan + Caffeine</li>
	<li>
		fixed dose combination of Nimesulide + Phenylephrine + Caffeine + Levocetirizine</li>
	<li>
		fixed dose combination of Azithromycin + Acebrophylline</li>
	<li>
		fixed dose combination of Diphenhydramine + Terpine + Ammonium Chloride + Sodium Chloride + Menthol</li>
	<li>
		fixed dose combination of Nimesulide + Paracetamol + Cetirizine + Phenylephrine</li>
	<li>
		fixed dose combination of Paracetamol + Loratadine + Dextromethophan + Pseudoepheridine + Caffeine</li>
	<li>
		fixed dose combination of Chlorpheniramine Maleate + Dextromethorphan + Dextromethophan + Guaiphenesin +Ammonium Chloride + Menthol</li>
	<li>
		fixed dose combination of Chlorpheniramine Maleate + Ammonium Chloride + Sodium Citrate</li>
	<li>
		fixed dose combination of Cetirizine + Phenylephrine + Paracetamol + Zinc Gluconate</li>
	<li>
		fixed dose combination of Ambroxol + Guaiphenesin + Ammonium Chloride + Phenylephrine + Chlorpheniramine Maleate + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphen + Bromhexine + Chlorpheniramine Maleate + Guaiphenesin</li>
	<li>
		fixed dose combination of Levocetirizine + Ambroxol + Phenylephrine + Guaiphenesin</li>
	<li>
		fixed dose combination of Dextromethorphan + Chlorpheniramine + Chlorpheniramine Maleate</li>
	<li>
		fixed dose combination of Cetirizine + Ambroxol + Guaiphenesin + Ammonium Chloride + Phenylephrine + Menthol</li>
	<li>
		fixed dose combination of Chlorpheniramine + Phenylephrine + Caffeine</li>
	<li>
		fixed dose combination of Dextromethorphan + Triprolidine + Phenylephrine</li>
	<li>
		fixed dose combination of Terpinhydrate + Dextromethorphan + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Zinc Gluconate + Menthol</li>
	<li>
		&nbsp;fixed dose combination of Chlorpheniramine + Codeine + Sodium Citrate + Menthol Syrup</li>
	<li>
		fixed dose combination of Enrofloxacin + Bromhexin</li>
	<li>
		fixed dose combination of Bromhexine + Dextromethorphan + Phenylephrine + Menthol</li>
	<li>
		fixed dose combination of Levofloxacin + Bromhexine</li>
	<li>
		fixed dose combination of Levocetirizine + Ranitidine</li>
	<li>
		fixed dose combination of Levocetirizine + Phenylephrine + Ambroxol + Guaiphenesin + Paracetamol</li>
	<li>
		fixed dose combination of Cetirizine + Dextromethorphan + Phenylephrine + Zinc Gluconate + Paracetamol + Menthol</li>
	<li>
		fixed dose combination of Paracetamol + Pseudoephedrine + Dextromethorphan + Cetirizine</li>
	<li>
		fixed dose combination of Diphenhydramine + Guaiphenesin + Ammonium Chloride + Bromhexine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Dextromethorphan + Phenylephrine + Paracetamol</li>
	<li>
		fixed dose combination of Dextromethorphen + Promethazine</li>
	<li>
		fixed dose combination of Diethylcabamazine Citrate + Cetirizine + Guaiphenesin</li>
	<li>
		fixed dose combination of Pseudoephedrine + Dextromethorphan + Cetirizine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Phenylephrine + Dextromethophan + Menthol</li>
	<li>
		fixed dose combination of Ambroxol + Terbutaline + Dextromethorphan</li>
	<li>
		fixed dose combination of Dextromethorphan + Chlorpheniramine + Guaiphenesin</li>
	<li>
		fixed dose combination of Terbutaline + Bromhexine + Guaiphenesin + Dextromethorphan</li>
	<li>
		fixed dose combination of Dextromethorphan + Tripolidine + Phenylephirine</li>
	<li>
		fixed dose combination of Paracetamol + Dextromethorphan + Chlorpheniramine</li>
	<li>
		fixed dose combination of Pholcodine + Phenylephrine + Promethazine</li>
	<li>
		fixed dose combination of Codeine + Levocetirizine + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Ambroxol + Guaifenesin + Phenylephrine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Cetirizine + Phenylephrine + Dextromethorphan + Menthol</li>
	<li>
		fixed dose combination of Roxithromycin + Serratiopeptidase</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Triprolidine</li>
	<li>
		fixed dose combination of Acetaminophen + Loratadine + Ambroxol + Phenylephrine</li>
	<li>
		fixed dose combination of Cetirizine + Acetaminophen + Dextromethorphan + Phenyephrine + Zinc Gluconate</li>
	<li>
		fixed dose combination of Diphenhydramine + Guaifenesin + Bromhexine + Ammonium Chloride + Menthol</li>
	<li>
		fixed dose combination of Chlopheniramine Maleate + Codeine Syrup</li>
	<li>
		fixed dose combination of Cetirizine + Dextromethorphan + Zinc Gluconate + Menthol</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Desloratadine + Zinc Gluconate + Ambroxol</li>
	<li>
		fixed dose combination of Levocetirizine + Montelukast + Acebrophylline</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Ammonium Chloride + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Bromhexine + Guaiphenesin + Menthol</li>
	<li>
		fixed dose combination of Acrivastine + Paracetamol + Caffeine + Phenylephrine</li>
	<li>
		fixed dose combination of Naphazoline + Carboxy Methyl Cellulose + Menthol + Camphor + Phenylephrine</li>
	<li>
		fixed dose combination of Dextromethorphan + Cetirizine</li>
	<li>
		fixed dose combination of Nimesulide + Paracetamol + Levocetirizine + Phenylephrine + Caffeine</li>
	<li>
		fixed dose combination of Terbutaline + Ambroxol + Guaiphenesin + Zinc + Menthol</li>
	<li>
		fixed dose combination of Codeine + Chlorpheniramine + Alcohol Syrup</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Guaifenesin + Triprolidine</li>
	<li>
		fixed dose combination of Ammomium Chloride + Bromhexine + Dextromethorphan</li>
	<li>
		fixed dose combination of Diethylcarbamazine + Cetirizine + Ambroxol</li>
	<li>
		fixed dose combination of Ethylmorphine + Noscapine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Cetirizine + Dextromethorphan + Ambroxol</li>
	<li>
		fixed dose combination of Bromhexine + Dextromethorphan + Ammonium Chloride + Menthol</li>
	<li>
		fixed dose combination of Ambroxol + Guaifenesin + Phenylephrine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Chlorpheniramine + Zinc Gluconate</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Cetirizine + Paracetamol + Caffeine</li>
	<li>
		fixed dose combination of Dextromethophan + Chlorpheniramine + Guaifenesin + Ammonium Chloride</li>
	<li>
		fixed dose combination of Levocetirizine + Dextromethorphan + Zinc</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Levocetirizine + Caffeine</li>
	<li>
		fixed dose combination of Chlorphaniramine + Ammonium Chloride + Sodium Chloride</li>
	<li>
		fixed dose combination of Paracetamol + Dextromethorphan + Bromhexine + Phenylephrine + Diphenhydramine</li>
	<li>
		fixed dose combination of Salbutamol + Bromhexine + Guaiphenesin + Menthol</li>
	<li>
		fixed dose combination of Chlorpheniramine + Ammonium Chloride + Noscapine + Sodium Citrate</li>
	<li>
		fixed dose combination of Cetirizine + Dextromethorphan + Bromhexine + Guaifenesin</li>
	<li>
		fixed dose combination of Diethyl Carbamazine + Chlorpheniramine + Guaifenesin</li>
	<li>
		fixed dose combination of Ketotifen + Cetirizine</li>
	<li>
		fixed dose combination of Terbutaline + Bromhexine + Etofylline</li>
	<li>
		fixed dose combination of Ketotifen + Theophylline</li>
	<li>
		fixed dose combination of Ambroxol + Salbutamol + Theophylline</li>
	<li>
		fixed dose combination of Cetririzine + Nimesulide + Phenylephrine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Phenylephrine + Paracetamol + Zink Gluconate</li>
	<li>
		fixed dose combination of Acetaminophen + Guaifenesin + Dextromethorphan + Chlorpheniramine</li>
	<li>
		fixed dose combination of Cetirizine + Dextromethorphan + Phenylephrine + Tulsi</li>
	<li>
		fixed dose combination of Cetirizine + Phenylephrine + Paracetamol + Ambroxol + Caffeine</li>
	<li>
		fixed dose combination of Guaifenesin + Dextromethorphan</li>
	<li>
		fixed dose combination of Levocetirizine + Paracetamol + Phenylephirine + Caffeine</li>
	<li>
		fixed dose combination of Caffeine + Paracetamol + Phenylephrine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Ketotifen + Levocetrizine</li>
	<li>
		fixed dose combination of Paracetamol + Levocetirizine + Phenylephirine + Zink Gluconate</li>
	<li>
		fixed dose combination of Paracetamol + Phenylephrine + Triprolidine + Caffeine</li>
	<li>
		fixed dose combination of Caffeine + Paracetamol + Phenylephrine + Cetirizine</li>
	<li>
		fixed dose combination of Caffeine + Paracetamol + Chlorpheniramine</li>
	<li>
		fixed dose combination of Ammonium Chloride + Dextromethorphan + Cetirizine + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Paracetamol + Cetirizine + Phenylephrine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Terpin + Antimony Potassium Tartrate + &nbsp;Ammonium Chloride + Sodium Citrate + Menthol</li>
	<li>
		fixed dose combination of Terbutaline + Etofylline + Ambroxol</li>
	<li>
		fixed dose combination of Paracetamol + Codeine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Paracetamol+Pseudoephedrine+Certirizine+Caffeine</li>
	<li>
		fixed dose combination of Chlorpheniramine+Ammonium Chloride + Menthol</li>
	<li>
		fixed dose combination of N-Acetyl Cysteine + Ambroxol + Phenylephrine + Levocertirizine</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Tripolidine + Menthol</li>
	<li>
		fixed dose combination of Salbutamol + Certirizine + Ambroxol</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Bromhexine + Guaifenesin + Chlorpheniramine</li>
	<li>
		fixed dose combination of Nimesulide + Certirizine + Phenylephrine</li>
	<li>
		fixed dose combination of Naphazoline + Chlorpheniramine + Zinc Sulphate + Boric Acid + Sodium Chloride + Chlorobutol</li>
	<li>
		fixed dose combination of Paracetamol + Bromhexine + Phenylephrine + Chlorpheniramine + Guaifenesin</li>
	<li>
		fixed dose combination of Salbutamol + Bromhexine</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Guaifenesin + Certirizine + Acetaminophen</li>
	<li>
		fixed dose combination of Guaifenesin + Bromhexine + Chlorpheniramine + Paracetamol</li>
	<li>
		fixed dose combination of Chlorpheniramine + Ammonium Chloride + Chloroform + Menthol</li>
	<li>
		fixed dose combination of Salbutamol + Choline Theophylinate + Ambroxol</li>
	<li>
		fixed dose combination of Chlorpheniramine + Codeine Phosphate + Menthol Syrup</li>
	<li>
		fixed dose combination of Pseudoephedrine + Bromhexine</li>
	<li>
		fixed dose combination of Certirizine + Phenylephrine + Paracetamol + Caffeine + Nimesulide</li>
	<li>
		fixed dose combination of Dextromethorphan + Cetirizine + Guaifenesin + Ammonium Chloride</li>
	<li>
		fixed dose combination of Ambroxol + Salbutamol + Choline Theophyllinate + Menthol</li>
	<li>
		fixed dose combination of Paracetamol + Chlorpheniramine + Ambroxol + Guaifenesin + Phenylephrine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Vasaka + Tolubalsm + Ammonium Chloride + Sodium Citrate + Menthol</li>
	<li>
		fixed dose combination of Bromhexine + Cetrizine + Phenylephrine IP+Guaifenesin + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Ambroxol + Ammonium Chloride + Chlorpheniramine + Menthol</li>
	<li>
		fixed dose combination of Dextromethorphan + Phenylephrine + Cetirizine + Zinc + Menthol</li>
	<li>
		fixed dose combination of Terbutaline + N-Acetyl L-Cysteine + Guaifenesin</li>
	<li>
		fixed dose combination of Calcium Gluconate + Levocetirizine</li>
	<li>
		fixed dose combination of Paracetamol + Levocetirizine + Pseudoephedrine</li>
	<li>
		fixed dose combination of Salbutamol + Choline Theophylinate + Carbocisteine</li>
	<li>
		fixed dose combination of Chlorpheniramine + Vitamin C</li>
	<li>
		fixed dose combination of Calcium Gluconate + Chlorpheniramine + Vitamin C</li>
	<li>
		fixed dose combination of Chlorpheniramine + Paracetamol + Pseudoephedrine + Caffeine</li>
	<li>
		fixed dose combination of Guaifenesin + Bromhexine + Chlorpheniramine + Phenylephrine + Paracetamol + Serratiopeptidase (as enteric coated granules) 10000 SP Units</li>
	<li>
		fixed dose combination of Paracetamol + Pheniramine</li>
	<li>
		fixed dose combination of Betamethasone + Fusidic Acid + Gentamycin + Tolnaftate + lodochlorhydroxyquinoline(ICHQ)</li>
	<li>
		fixed dose combination of Clobetasol + Ofloxacin + Miconazole + Zinc Sulphate</li>
	<li>
		fixed dose combination of Clobetasole + Gentamicin + Miconazole + Zinc Sulphate</li>
	<li>
		fixed dose combination of Levocetirizine + Ambroxol + Phenylephrine + Paracetamol</li>
	<li>
		fixed dose combination of Permethrin + Cetrimide + Menthol</li>
	<li>
		fixed dose combination of Beclomethasone + Clotimazole + Neomycin + iodochlorohydroxyquinone</li>
	<li>
		fixed dose combination of Neomycin + Doxycycline</li>
	<li>
		fixed dose combination of Ciprofloxacin + Fluocinolone + Clotrimazole + Neomycin + Chlorocresol</li>
	<li>
		fixed dose combination of Clobetasol + Ofloxacin + Ketoconazol + Zinc Sulphate</li>
	<li>
		fixed dose combination of Betamethasone + Gentamicin + Tolnaftate + lodochlorhydroxyquinoline</li>
	<li>
		fixed dose combination of Clobetasol + Gentamicin + Tolnaftate + lodochlorhydroxyquinone + Ketoconazole</li>
	<li>
		fixed dose combination of Allantoin + Dimethieone + Urea + Propylene + Glycerin + Liquid Paraffin</li>
	<li>
		fixed dose combination of Acriflavine + Thymol + Cetrimide</li>
	<li>
		fixed dose combination of Betamethasone + Neomycin + Tolnaftate + lodochlorohydroxyquinoline + Cholorocresol</li>
	<li>
		fixed dose combination of Clobetasol + Neomycin + Miconazole + Clotrimazole</li>
	<li>
		fixed dose combination of Ketoconazole + Tea Tree oil + Allantion + Zinc Oxide + Aloe Vera + Jojoba oil + Lavander oil + Soa noodels</li>
	<li>
		fixed dose combination of Clobetasol Propionate + Ofloxacin + Ornidazole + Terbinafine</li>
	<li>
		fixed dose combination of Clobetasol + Neomycin + Miconazole + Zinc Sulphate</li>
	<li>
		fixed dose combination of Beclomethasone Diproprionate + Neomycin + Tolnaftate + lodochlorhydroxyquinoline + Chlorocresol</li>
	<li>
		fixed dose combination of Betamethasone + Gentamycin + Zinc Sulphate + Clotrimoazole + Chlorocresol</li>
	<li>
		fixed dose combination of Borax + Boric Acid + Naphazoline + Menthol + Camphor + Methyl Hydroxy Benzoate</li>
	<li>
		fixed dose combination of Bromhexine + Dextromethorphan</li>
	<li>
		fixed dose combination of Dextromethophan + Chlopheniramine + Bromhexine</li>
	<li>
		fixed dose combination of Menthol + Anesthetic Ether</li>
	<li>
		fixed dose combination of Dextrometharphan + Chlopheniramine + Ammonium + Sodium Citrate + Menthol</li>
	<li>
		fixed dose combination of Ergotamine Tartrate + Belladona Dry Extract+Caffeine + Paracetamol</li>
	<li>
		fixed dose combination of Phenytoin + Phenobarbitone</li>
	<li>
		fixed dose combination of Gliclazide 40mg + Metformin 400mg</li>
	<li>
		fixed dose combination of Paracetamol + Ambroxol + Phenylephrine + Chlorpheniramine</li>
	<li>
		fixed dose combination of Oflaxacin + Ornidazole Suspension</li>
	<li>
		fixed dose combination of Albuterol + Etofylline + Bromhexine + Menthol</li>
	<li>
		fixed dose combination of Albuterol + Bromhexine + Theophylline</li>
	<li>
		fixed dose combination of Salbutamol+Hydroxyethyltheophylline (Etofylline) + Bromhexine</li>
	<li>
		fixed dose combination of Paracetamol+Phenylephrine+Levocetirizine+Sodium Citrate</li>
	<li>
		fixed dose combination of Paracetamol + Propyphenazone + Caffeine</li>
	<li>
		fixed dose combination of Guaifenesin + Diphenhydramine + Bromhexine + Phenylephrine</li>
	<li>
		fixed dose combination of Dried Alumnium Hydroxie Gel + Prophantheline + Diazepam</li>
	<li>
		fixed dose combination of Bromhenxine + Phenylephrine + Chlorpheniramine + Paracetamol</li>
	<li>
		fixed dose combination of Beclomethasone + Clotrimazole + Gentamicin + lodochlorhydroxyquinoline</li>
	<li>
		fixed dose combination of Telmisartan + Metformin</li>
	<li>
		fixed dose combination of Ammonium Citrate + Vitamin B 12 + Folic Acid + Zinc Sulphate</li>
	<li>
		fixed dose combination of Levothyroxine + Phyridoxine + Nicotinamide</li>
	<li>
		fixed dose combination of Benfotiamine + Metformin</li>
	<li>
		fixed dose combination of Thyroid + Thiamine + Riboflavin + Phyridoxine + Calcium Pantothenate + Tocopheryl Acetate + Nicotinamide</li>
	<li>
		fixed dose combination of Ascorbic Acid + Manadione Sodium Bisulphate + Rutin + Dibasic Calcium Phosphate + Adrenochrome mono Semicarbazone</li>
	<li>
		fixed dose combination of Phenylephrine + Chlorpheniramine + Paracetamol + Bromhexine + Caffeine</li>
	<li>
		fixed dose combination of Clotrimazole + Beclomethasone + Lignocaine + Ofloxacin + Acetic Aicd + Sodium Methyl Paraben + Propyl Paraben</li>
</ul>
    </div>

    <section class="myfooter" style="margin-top: 80px;">
	<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://http://miet.ac.in/" target="_blank" class="w3-hover-text-green">Pharmapedia</a></p>
</footer>
    </section>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>
</body>
</html>