<!DOCTYPE html>
<html>
    {% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">


</head>

<body background= "{%static 'Images/logo2.jpg'%}" style="background-size:cover;background-repeat: no-repeat;" >

    <div class="row brand">
                <div  class="col-md-12 text-left">
                    <center> <h1 style="height:100px;   id="ns">Pharmapedia</h1></center>
                </div>
            </div>

    <div style="width:100%; height:20" class="view search-section">

        <div  class="mask flex-center rgba-blue-strong">

        </div>
        <div class="row form-submit">
            <div class="col-md-12">
              <center>  <form action="#" method="get">
                    <center><input type="text"   style="width:80%;background-color:#cccccc; padding:10px" class="searching-box" id="search-med" name="search" placeholder="Search By Brand Or Salts...Eg Paracetamol"/>
                    </center>
					<button class="btn btn-primary search-btn" onclick="DisplayMed()" name="BNAME">Search</button>
                </form>
				</center>
            </div>
        </div>

    </div>

	<center> 
	 
        <div class="row filter-btns" >
          <div class="col-md-6">
                <button class="btn btn-primary search-btn" id="mft-btn" style="color:black !important; background-color: #d9d9d9!important; border: 2px solid white!important;" onclick="SearchByMft()" name="BNAME">Manufacturer</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary search-btn" id="ban-btn" style="color:black !important; background-color: #d9d9d9!important; border: 2px solid white!important;" onclick="BannedDrugs()" name="BNAME">Banned Drugs</button>
            </div>
        </div>
		</center>
	

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript">
        function SearchByMft() {
            window.open("searchmft");
        }

        function BannedDrugs() {
            window.open("bdrug.html");
        }
    </script>
</body>

</html>